.popup_girth {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(191, 191, 191, .4);
}

.popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 10px;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    z-index: 1000;
}

.popup__info {
    width: 90%;
    margin: 0 auto;
}

.popup__info--name,
.popup__info--subName,
.popup__info--message {
    display: block;
    margin: 25px auto;
}

.popup__btn {
    margin-top: 50px;
}

.popup__exit {
    position: absolute;
    left: 95%;
    cursor: pointer;
}